./chinese_L-12_H-768_A-12.zip
./chinese_L-12_H-768_A-12
chinese_L-12_H-768_A-12*
/corpus
./corpus
corpus/
tmp/
./tmp
tmp
corpora
corpora/
./corpora
.vscode
ws-corpora.zip*
bert-large-portuguese-cased_tensorflow_checkpoint.zip*
./portuguese-bert-large
portuguese-bert-large/
output/
PEOPLEdata/
__pycache__/
.ipynb_checkpoints/